
/*  PAGE / BODY  */

/*
 * CSS File for the solution
 * Assignment 03
 */
 body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    color: var(--default-colour);
    background-color: var(--background-colour);
    margin: .5rem;
  }

  .title {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .theform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

#todoInput {
    width: 70%;
    padding: 8px;
}

#addBtn {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--colour-lightgreen);
}

#deleteBtn {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    background-color: var(--colour-darkestbrown);
    color: var(--colour-lightestgreen);
    justify-content: right;
}

#todoList {
    list-style-type: none;
    margin: 10px 0px;
    padding: 20px 10px 20px 10px;
    background-color: var(--colour-lightestgreen);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.todoItem {
    display: flex;
    justify-content: center:
    align-items: center;
    border: 1px solid #A68A64;
    padding: 8px;
    margin: 5px 0;
}

.delete {
    color: var(--colour-darkbrown);
    cursor: pointer;
    align-self: flex-end;
}


/*
 VARIABLES
*/
:root {
    /* Core colours - my palette: 
    https://coolors.co/palette/582f0e-7f4f24-936639-a68a64-b6ad90-c2c5aa-a4ac86-656d4a-414833-333d29 */
    --colour-darkestbrown: #582F0E;
    --colour-darkbrown: #7F4F24;
    --colour-brown: #936639;
    --colour-darkbeige: #A68A64;
    --colour-beige: #B6AD90;
    --colour-lightestgreen: #C2C5AA;
    --colour-lightgreen: #A4AC86;
    --colour-green: #656D4A;
    --colour-darkgreen: #414833;
    --colour-darkestgreen: #333D29;
  
    --colour-backround: #fffbed;
  
    /* Header configuration */
    --header-heading-colour: var(--colour-backround);
  
    /* Body configuration */
    --default-colour: var(--colour-darkgreen);
    --background-colour: var(--colour-backround);
  }
  
  /****** Screen reader text utility clsas *******/
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

